<div class="footer"
     fxLayout="column"
     fxLayoutWrap>

  <div>
    <!-- links -->
    <mat-toolbar color="primary"
                 fxLayout="row"
                 fxLayoutAlign="space-around center"
                 fxLayoutGap="1em">
      <a class="icon-link" href="{{ links.github }}" fxFlex>Github</a>
      <a class="icon-link" href="{{ links.linkedin }}" fxFlex>LinkedIn</a>
      <a class="icon-link" href="{{ links.twitter }}" fxFlex>Twitter</a>
    </mat-toolbar>
  </div>

  <div>
    <!-- attribution -->
  </div>

</div>
