<div class="header"
     fxLayout="row"
     fxLayout.lt-sm="column">

  <h1 fxFlex="grow"
      fxLayoutAlign="start center"
      fxLayoutAlign.lt-sm="center start">
    Andrew Wanex
  </h1>

  <mat-toolbar  class="header-nav"
                fxLayout="row"
                fxFlex="40"
                fxFlex.lt-md="50"
                fxLayoutAlign="space-around center"
                role="navigation">
    <a  class="header-nav-link"
        routerLink="/home"
        routerLinkActive="active"
        fxFlex>
      Home
    </a>
    <a  class="header-nav-link"
        routerLink="/contact"
        routerLinkActive="active"
        fxFlex>
      Contact
    </a>
    <a  class="header-nav-link"
        routerLink="/about"
        routerLinkActive="active"
        fxFlex>
      About
    </a>
    <a  class="header-nav-link"
        routerLink="/portfolio"
        routerLinkActive="active"
        fxFlex>
      Porfolio
    </a>
  </mat-toolbar>
</div>
