@import "~src/theme.scss";

$item-width-xs: 100%;
$item-width-sm: 90%;
$item-width-md: 80%;
$item-width-lg: 70%;
$viewer-distance: 800px;

.carousel {
  perspective: $viewer-distance;
  > * {
    flex: 0 0 auto;
  }

  figure {
    margin: 0 0 5%;
    z-index: 10;
    width: $item-width-lg;
    transform-style: preserve-3d;
    transition: transform 1.5s;
    position: relative;

    a {
      display: block;

      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    img {
      width: 100%;
      box-sizing: border-box;
      border-radius: 5px;
    }

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      font-size: 10vw;
      font-weight: 500;
      text-decoration: none;
      text-shadow: 2px 2px 3px rgba(120, 120, 120, 0.5),
        2px 2px rgba(90, 90, 90, 0.6);
    }
  }

}

#carousel-ring-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  height: 45%;
  padding: 0;
}

#carousel-ring-button:focus {
  outline: none;
}

.carousel-button-bar {
  width: 80%;
  padding-top: 20px;
}

@media screen and (max-width: 599px) {
  .carousel {
    figure {
      width: $item-width-xs;
    }
  }
}

@media screen and (min-width: 599px) and (max-width: 859px) {
  .carousel {
    figure {
      width: $item-width-sm;

      figcaption {
        font-size: 7.5vw;
      }
    }
  }
  #carousel-ring-button {
    height: 45%;
  }
}

@media screen and (min-width: 859px) and (max-width: 999px){
  .carousel {
    figure {
      width: $item-width-md;

      figcaption {
        font-size: 6vw;
      }
    }
  }
  #carousel-ring-button {
    height: 50%;
  }
}

@media screen and (min-width: 999px) and (max-width: 1400px) {
  .carousel {
    figure {
      width: $item-width-lg;

      figcaption {
        font-size: 5vw;
      }
    }
  }
  #carousel-ring-button {
    height: 55%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
  .carousel {
    figure {
      width: 65%;

      figcaption {
        font-size: 4.5vw;
      }
    }
  }
  #carousel-ring-button {
    height: 60%
  }
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  #carousel-ring-button {
    height: 90%;
  }
}


@media screen and (min-width: 1800px) {
  .carousel {
    figure {
      width: 60%;

      figcaption {
        font-size: 4vw;
      }
    }
  }
  #carousel-ring-button {
    height: 65%;
  }
}
