$mat-primary: (
    50 : #e6e7e8,
    100 : #c1c2c5,
    200 : #989a9e,
    300 : #6f7177,
    400 : #50525a,
    500 : #31343d,
    600 : #2c2f37,
    700 : #25272f,
    800 : #1f2127,
    900 : #13151a,
    A100 : #6080ff,
    A200 : #2d57ff,
    A400 : #0032f9,
    A700 : #002de0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-secondary: (
    50 : #e1f8f3,
    100 : #b3ede1,
    200 : #81e2cd,
    300 : #4ed6b8,
    400 : #28cda9,
    500 : #02c49a,
    600 : #02be92,
    700 : #01b688,
    800 : #01af7e,
    900 : #01a26c,
    A100 : #ccffec,
    A200 : #99ffd8,
    A400 : #66ffc5,
    A700 : #4dffbb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-warning: (
    50 : #fff4e1,
    100 : #ffe3b3,
    200 : #ffd081,
    300 : #ffbd4f,
    400 : #ffae29,
    500 : #ffa003,
    600 : #ff9803,
    700 : #ff8e02,
    800 : #ff8402,
    900 : #ff7301,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd8bf,
    A700 : #ffc9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
